* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #fafafa;
  margin: 29px;
}

.feature-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feature-heading {
  margin-bottom: 16px;
}

.feature-title {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.25px;
  line-height: 140%;
  color: #4d4f62;
}

.feature-sub-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 140%;
  color: #4d4f62;
}

.feature-sub-heading {
  margin-bottom: 58px;
}

.feature-sub-heading-content {
  font-size: 15px;
  color: #4d4f62;
  font-weight: 400;
  text-align: center;
}

.feature-supervisor {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.3137254902);
  margin-bottom: 32px;
  width: 314px;
  overflow: hidden;
}

.supervisor-bar {
  left: -10px;
  position: relative;
  width: 105%;
  border: 2px solid #44d3d2;
}

.supervisor-block {
  padding: 32px;
}

.feature-supervisor-title {
  font-size: 20px;
  line-height: 135%;
  font-weight: 600;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 6px;
}

.feature-supervisor-content {
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.09px;
  font-weight: 400;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 32px;
}

.feature-team-builder {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.3137254902);
  margin-bottom: 32px;
  width: 314px;
  overflow: hidden;
}

.team-builder-bar {
  left: -10px;
  position: relative;
  width: 105%;
  border: 2px solid #ea5454;
}

.team-builder-block {
  padding: 32px;
}

.feature-team-builder-title {
  font-size: 20px;
  line-height: 135%;
  font-weight: 600;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 6px;
}

.feature-team-builder-content {
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.09px;
  font-weight: 400;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 32px;
}

.feature-karma {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.3137254902);
  margin-bottom: 32px;
  width: 314px;
  overflow: hidden;
}

.karma-bar {
  left: -10px;
  position: relative;
  width: 105%;
  border: 2px solid #fcae4a;
}

.karma-block {
  padding: 32px;
}

.feature-karma-title {
  font-size: 20px;
  line-height: 135%;
  font-weight: 600;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 6px;
}

.feature-karma-content {
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.09px;
  font-weight: 400;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 32px;
}

.feature-calculator {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.3137254902);
  width: 314px;
  margin-bottom: 32px;
  overflow: hidden;
}

.calculator-bar {
  left: -10px;
  position: relative;
  width: 105%;
  border: 2px solid #549ef2;
}

.calculator-block {
  padding: 32px;
}

.feature-calculator-title {
  font-size: 20px;
  line-height: 135%;
  font-weight: 600;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 6px;
}

.feature-calculator-content {
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.09px;
  font-weight: 400;
  color: #4d4f62;
  text-align: left;
  margin-bottom: 32px;
}

.feature-image {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .feature-sub-heading {
    margin-bottom: 70px;
  }
  .feature-main {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .feature-title,
  .feature-sub-title {
    font-size: 36px;
  }
  .feature-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". supervisor supervisor ." "team-builder team-builder karma karma" ". calculator calculator .";
  }
  .feature-supervisor {
    grid-area: supervisor;
  }
  .feature-team-builder {
    grid-area: team-builder;
    margin-right: 32px;
  }
  .feature-karma {
    grid-area: karma;
  }
  .feature-calculator {
    grid-area: calculator;
  }
}
@media (min-width: 1025px) {
  .feature-sub-heading {
    margin-bottom: 72px;
  }
  .feature-main {
    margin-top: 102px;
    margin-bottom: 102px;
  }
  .feature-title,
  .feature-sub-title {
    font-size: 36px;
  }
  .feature-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". team-builder ." "supervisor team-builder calculator" "supervisor karma calculator" ". karma .";
  }
  .feature-supervisor {
    grid-area: supervisor;
    margin-right: 32px;
  }
  .feature-team-builder {
    grid-area: team-builder;
  }
  .feature-karma {
    grid-area: karma;
  }
  .feature-calculator {
    grid-area: calculator;
  }
  .feature-supervisor,
  .feature-team-builder,
  .feature-karma,
  .feature-calculator {
    width: 350px;
  }
}/*# sourceMappingURL=style.css.map */